
<hr>
<section class="footer">

    <div class="box-container">

        <div class="box">
            <h3 class="logo"> <img [src]="logo"> Nature Maya </h3>
            <p>All our products are purely herbal. We ensure to sell the best quality  products to our customers.</p>
        </div>

        <div class="box">
            <h3>links</h3>
            <a href="#">home</a>
            <a href="#">arrival</a>
            <a routerLink="/shopping-cart">gallery</a>
        </div>

        <div class="box">
            <h3>contact us</h3>
            <p> <i class="fas fa-home"></i>
                Chennai, Tamil Nadu, 
                India - 400104
            </p>
            <p> <i class="fas fa-phone"></i>
                +910000000
            </p>
        </div>

    </div>

<h1 class="credit"> created by mr. web designer  </h1>

</section>  



